# Database Configuration
DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.seu_usuario_aqui
DB_PASS=sua_senha_aqui
DB_NAME=postgres
POSTGRES_USER=seu_usuario_admin
POSTGRES_PASSWORD=sua_senha_admin
POSTGRES_DB=Agro_Clima_DB
